@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'PT Sans', Arial, sans-serif;
  background: #f8f9fb;
}
