$primary: #5d5fef;
$secondary: #ef5da8;

$white: #ffffff;
$background: #e5e5e5;
$blue: #3877ee;
$black-blue: rgba(66, 86, 122, 1);
$black-blue-10: rgba(66, 86, 122, 0.1);

$gray-blue: #303e58;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --white: #{$white};
  --background: #{$background};
  --blue: #{$blue};
  --black-blue: #{$black-blue};
  --black-blue-10: #{$black-blue-10};
  --gray-blue: #{$gray-blue};
}
