@use './shared/styles/colors.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'PT Sans', Arial, sans-serif;
  background: $background;
  color: $black-blue;
}

/* CSS Variables for dynamic theming */
:root {
  --background: #{$background};
  --text-color: #{$black-blue};
}
